
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100%;
}
.banner {
    background: url(../banner.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    position: relative;
}

.imag1 {
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.imag1:hover{
    transition: 4.5s;
    transform: scale(1.2);
}
.navbar-collapse {
    position: absolute;
    top: 0%;
    left: 40%;
}
.navbar-collapse ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.navbar-collapse ul li {
    padding: 40px;
    
}
.texto-encima{
    position: absolute;
    top: 400px;
    color: gold;
}
.navbar-toggler {
    position: fixed;
    top: 40px;
    right: 40px;
}

h1{
   
    font-family: 'Merriweather', serif;
    font-size: 40px;
    position: relative;
}

.imag2{
    display: block;
    position: relative;
    width: 300px;
    left: 45%;
}
.parrafo1{
    text-align: center;
    position: relative;
}
.caja1{
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
}
.parrafo2{
    width: 40%;
    height: 30%;
    position: absolute;
}
.video{
    left: 0%;
    position: absolute;
    top: 140%;
    flex: block;
   
}
.zuckerberg{
    width: 400px;
    height: 300px;
    left: 20px;
}
.caja2{
    width: 100%;
    height: 35%;
    position: absolute;
    top: 130%;
    
}
.titulo2{
    position: absolute;
    text-align: center;
    margin: 13cm;
    
}
.parrafo3{
    position: absolute;
    margin-top: 15cm;
    text-align: center;
    left: 15%;
}
.foto1{
    width: 35%;
    height: 80%;
    position: absolute;
    margin-top: 45%;
    display: block;
}
.foto1:hover{
    transition: 4.5s;
    transform: scale(1.2);
}
.caja3{
    position: absolute;
    margin-top: 30cm;
    width: 30%;
    height: 50%;
    text-align: justify;
}
.foto2{
    width: 35%;
    height: 80%;
    position: absolute;
    margin-top: 27cm;
    display: block;
    left: 50%;
}
.foto2:hover{
    transition: 4.5s;
    transform: scale(1.2);
}
.caja4{    
    left: 50%;
    position: absolute;
    margin-top: 41cm;
    text-align: justify;
    width: 30%;
}
.foto3{
    width: 35%;
    height: 85%;
    position: absolute;
    margin-top: 38cm;
    display: block;
}
.foto3:hover{
    transition: 4.5s;
    transform: scale(1.2);
}
.caja5{
    position: absolute;
    margin-top: 51cm;
    text-align: justify;
    width: 40%;
}
form{
    width: 800px;
    height: 500px;
    margin: auto;
    background: rgba(34, 0, 155, 0.8);
    border: solid 7px black;
    padding: 10px  20px;
    box-sizing:  border-box ;
    margin-top: 60cm;
    border-radius: 20px;

}
.titulo3{
    color: rgb(241, 238, 8);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;

}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
.boton{
    background: #31384A;
    color: white;
    padding: 15px;

}
@media screen and (max-width: 500px){  
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }
    body{
        width: 100vh;
        height: 100%;
    }
    .banner{
        width:100vh
    }
    .imag1{
        left: 10%;
        width: 150px;
        height: 150px;
    }
    .texto-encima{
        text-align: center;
        width: 200px;
        top: 180%;
        left: 0%;
        
    }
    .title-meta {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 7px;
        text-align: justify;
    }
    .imag2{
        width: 100px;
        height: 100px;
    }
    
    .video-meta {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 180px;
    }
    .zuckerberg {
        width: 100%;
        height: 200px;
        left: 25vh;
        position: relative;
    }
    .video{
        position: absolute;
        top: 150%;
        display: flex;
    }
    
    .parrafo1{
        text-align: center;
        position: relative;
        font-size: 200%;
    }
    .caja1 {
        margin-top: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        position: absolute;
        left: 0%;
    }
    
    .titulo1{
        font-size: 10px;
        text-align: center;
        width: 100%;
        position: relative;
    }
    .parrafo2{
        text-align: justify;
        font-size: 12px;
        width: 50%;
        top: 10cm;
        left: 0%;
    }
    .caja2{
        width: 100%;
        height: 50%;
    }
    .titulo2{
        text-indent: -9999px; /* sends the text off-screen */ background-image: url(/the_img.png); /* shows image */ height: 100px; /* be sure to set height & width */ width: 600px; white-space: nowrap;
    }
    .parrafo3{
        color: transparent;
    }
    .foto1{
        width: 100vh;
        height: 100%;
    }
    .caja3{
        position: absolute;
        width: 100vh;
        height: 100%;
        top: 110%;
    }
    .titulo3{
        font-size: 8px;
        position: absolute;
        top: 200%;
        text-align: center;
    }
    .foto2{
        position: absolute;
        width: 100vh;
        height: 100%;
        top: 250%;
        left: 20%;
    }
    .caja4{
        width: 100vh;
        height: 100%;
        left: 20%;
        top: 110%;
    }
    .foto3{
        width: 100%;
        height: 100%;
        top: 48cm;
    }
    .caja5{
        width: 100vh;
        height: 100%;
        font-size: 8px;
        text-align: justify;
        top: 90%;
    }
    .formulario{
        width: 200vh;
        height: 100%;
        position: absolute;
        top: 0%;
        color: transparent;
    }

}


@media screen and (max-width: 720px) and (min-width: 500px){  
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }
    body{
        width: 100vh;
        height: 100%;
    }
    .banner{
        width:100vh
    }
    .imag1{
        left: 10%;
        width: 150px;
        height: 150px;
    }
    .texto-encima{
        text-align: center;
        width: 100px;
        top: 180%;
        left: 0%;
        
    }
    .title-meta {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 7px;
        text-align: justify;
    }
    .imag2{
        width: 100px;
        height: 100px;
    }
    
    .video-meta {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 180px;
    }
    .zuckerberg {
        width: 400px;
        height: 200px;
        left: 20vh;
        position: relative;
    }
    .video{
        position: absolute;
        top: 150%;
        display: flex;
    }
    
    
    .caja1 {
        margin-top: 850px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        position: absolute;
        left: 0%;
    }
    
    .titulo1{

        font-size: 10px;
        text-align: center;
        width: 100%;
        position: relative;
    }
    .parrafo1{
        text-align: justify;
        position: absolute;
        font-size: 15px;
        width: 50%;
        left: 50vh;
    }
    .parrafo2{
        text-align: justify;
        font-size: 12px;
        width: 50%;
        top: 10cm;
        left: 0%;
    }
    .caja2{
        width: 100%;
        height: 50%;
    }
    .titulo2{
        text-indent: -9999px; /* sends the text off-screen */ background-image: url(/the_img.png); /* shows image */ height: 100px; /* be sure to set height & width */ width: 600px; white-space: nowrap;
    }
    .parrafo3{
        color: transparent;
    }
    .foto1{
        width: 100vh;
        height: 100%;
        top: 250%;
    }
    .caja3{
        position: absolute;
        width: 100vh;
        height: 100%;
        top: 200%;
    }
    .titulo3{
        font-size: 8px;
        position: absolute;
        top: 200%;
        text-align: center;
    }
    .foto2{
        position: absolute;
        width: 100vh;
        height: 100%;
        top: 250%;
        left: 10%;
    }
    .caja4{
        width: 100vh;
        height: 100%;
        left: 20%;
        top: 250%;
    }
    .foto3{
        width: 100vh;
        height: 100%;
        top: 330%;
    }
    .caja5{
        width: 100vh;
        height: 100%;
        font-size: 12px;
        text-align: justify;
        top: 340%;
    }
    .formulario{
        width: 10vh;
        height: 100%;
        position: relative;
        top: 300%;
        color: transparent;
    }

}

@media screen and (max-width: 1200px) and (min-width: 720px){  
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }
    
    .body{
        width: 100vh;
        height: 100vh;
    }
    .banner{
        width: 100vw;
    }
    h1{
        font-size: 40px;
        text-align: center;
        
    }
    .imag1{
        width: 200px;
        height: 150px;
    }
    .parrafo1{
        text-align: center;
        position: relative;
        font-size: 20px;
        
    }
    .caja1{
        width: 100%;
        height: 100%;
    }
    .zuckerberg{
       width: 400px;
       height: 250px;
        position: absolute;
        top: 150%;
        left: 5cm;
        display: flex;
    }
    .title-meta{
        width: 100vh;
        
    }
    .caja1{
        width: 50%;
        top: 160%;
        font-size: 14px;
    }
    .titulo1{
        font-size: 12px;
    }
    .caja2{
        width: 50vh;
        height: 100%;
        position: absolute;
        top: 30cm;
        left: 0%;
    }
    .titulo2{
        width: 100%;
        left: 0%;
        position: absolute;
    }
    .parrafo3{
        left: 60vh;
        width: 50vh;
    }
    .foto1{
        width: 60vh;
        height: 100%;
        top: 170%;
    }
    .caja3{
        position: absolute;
        width: 60vh;
        height: 100%;
        top: 200%;
    }
    .titulo3{
        font-size: 8px;
        position: absolute;
        top: 200%;
        text-align: center;
    }
    .foto2{
        position: absolute;
        width: 60vh;
        height: 100%;
        top: 200%;
        left: 50%;
    }
    .caja4{
        width: 60vh;
        height: 100%;
        left: 50%;
        top: 250%;
    }
    .foto3{
        width: 60vh;
        height: 100%;
        top: 230%;
    }
    .caja5{
        width: 60vh;
        height: 100%;
        font-size: 15px;
        text-align: justify;
        top: 270%;
    }
    .formulario{
        width: 10vh;
        height: 100%;
        position: absolute;
        top: 100cm;
        color: transparent;
    }
    .titulo3{
        top: 100cm;
    }

   

}
